@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid theme('colors.primary.900');
    border-right-color: theme('colors.primary.200');
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid theme('colors.primary.200');
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

/* For data picker */

 #date-picker .rdp-root {
    --rdp-accent-color: rgb(210 175 132) !important;
    --rdp-accent-background-color: rgb(210 175 132) !important;
    --rdp-day-height: 44px;
    --rdp-day-width: 44px;
    --rdp-day_button-border-radius: 100%;
    --rdp-day_button-border: 2px solid transparent;
    --rdp-day_button-height: 42px;
    --rdp-day_button-width: 42px;
    --rdp-selected-border: 2px solid var(--rdp-accent-color);
    --rdp-disabled-opacity: 0.5;
    --rdp-outside-opacity: 0.75;
    --rdp-today-color: var(--rdp-accent-color);
    --rdp-dropdown-gap: 0.5rem;
    --rdp-months-gap: 2rem;
    --rdp-nav_button-disabled-opacity: 0.5;
    --rdp-nav_button-height: 2.25rem;
    --rdp-nav_button-width: 2.25rem;
    --rdp-nav-height: 2.75rem;
    --rdp-range_middle-background-color: var(--rdp-accent-background-color);
    --rdp-range_middle-foreground-color: white;
    --rdp-range_middle-color: inherit;
    --rdp-range_start-color: white;
    --rdp-range_start-background: linear-gradient(var(--rdp-gradient-direction), transparent 50%, var(--rdp-range_middle-background-color) 50%);
    --rdp-range_start-date-background-color: var(--rdp-accent-color);
    --rdp-range_end-background: linear-gradient(var(--rdp-gradient-direction), var(--rdp-range_middle-background-color) 50%, transparent 50%);
    --rdp-range_end-color: white;
    --rdp-range_end-date-background-color: var(--rdp-accent-color);
    --rdp-week_number-border-radius: 100%;
    --rdp-week_number-border: 2px solid transparent;
    --rdp-week_number-height: var(--rdp-day-height);
    --rdp-week_number-opacity: 0.75;
    --rdp-week_number-width: var(--rdp-day-width);
    --rdp-weeknumber-text-align: center;
    --rdp-weekday-opacity: 0.75;
    --rdp-weekday-padding: 0.5rem 0rem;
    --rdp-weekday-text-align: center;
    --rdp-gradient-direction: 90deg;

}

.rdp-months{
  justify-content: center;
}

/* Map Box */

#big-map-container{
  position: relative;
  height: 65rem;
}
#map-box {
  position: relative;
  width: 100%;
  height: 400px; 
  overflow: hidden; 
}


.mapboxgl-marker{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}